.kai_1{
	width: 1520px;
	height:152px;
	background-color: blue; 
}
.kai_1_1{
	width: 80px;
	height: 80px;
	background-color: pink;
	margin: 36px 719px;
	position: absolute;
}
.kai_1_2{
	width: 50px;
	height: 16px;
	position: absolute;
	margin: 68px 150px;
	background-color: pink;
}
.kai_1_3{
	width: 50px;
	height: 16px;
	position: absolute;
	margin: 68px 300px;
	background-color: pink;
}
.kai_1_4{
	width: 50px;
	height: 16px;
	position: absolute;
	margin: 68px 450px;
	background-color: pink;
}
.kai_1_5{
	width: 50px;
	height: 16px;
	position: absolute;
	margin: 68px 600px;
	background-color: pink;
}
.kai_1_6{
	width: 50px;
	height: 16px;
	position: absolute;
	margin: 68px 870px;
	background-color: pink;
}
.kai_1_7{
	width: 50px;
	height: 16px;
	position: absolute;
	margin: 68px 1020px;
	background-color: pink;
}
.kai_1_8{
	width: 50px;
	height: 16px;
	position: absolute;
	margin: 68px 1170px;
	background-color: pink;
}
.kai_1_9{
	width: 50px;
	height: 16px;
	position: absolute;
	margin: 68px 1320px;
	background-color: pink;	
}
.kai_2{
	width: 1520px;
	height: 900px;
	background-color: red;
}
.kai_2_1{
	width: 120px;
	height:800px;
	background-color: green;
	margin: 0px 0px;
	position:absolute;
}
.kai_2_2{
	width:600px;
	height: 800px;
	background-color:pink;
	position:absolute;
	margin:0px 200px;
}
.kai_2_3{
	width:500px;
	height: 800px;
	background-color:pink;
	position:absolute;
	margin:0px 900px;
}
.zhong{
	height: 200px;
	width: 1520px;
	background-color:#f000;
}
