.kai_1{
	width: 1520px;
	height:152px;
	border-style: outset;
	border-width: 5px;
	border-top-left-radius: 50px 30px;
	border-top-right-radius: 50px 30px;
	border-bottom-left-radius: 50px 30px;
	border-bottom-right-radius: 50px 30px;
}
.kai{
	width: 1520px;
	height:152px;
	position: absolute;
	background-image: url(../image/c15e0dca25f7dc7caee5d21a746da69d.jpg);
	opacity: 0.8;
	border-width: 15px;
	border-color: #f6e2cf;
	border-top-left-radius: 50px 30px;
	border-top-right-radius: 50px 30px;
	border-bottom-left-radius: 50px 30px;
	border-bottom-right-radius: 50px 30px;
}
.kai_1_1{
	width: 80px;
	height: 80px;
	padding: 0px;
	border-radius: 80px;
	-moz-border-radius:80px;
	-webkit-border-radius:80px;
	border: inset;
	border-width: 9px;
	background-image:url(../image/kkk.gif);
	margin: 36px 719px;
	position: absolute;
}
.kai_1_2{
	width: 50px;
	height: 30px;
	position: absolute;
	border-style: inset;
	border-width: 3px;
	border-top-left-radius: 6px 6px;
	border-top-right-radius: 6px 6px;
	border-bottom-left-radius: 6px 6px;
	border-bottom-right-radius: 6px 6px;
	background-image: url(../image/草.gif);
	margin: 68px 200px;
	background-color: pink;
}
.kai_1_2_1{
	width: 50px;
	height: 30px;
	position: absolute;
	margin: 82px 208px;
}
.kai_1_3{
	width: 50px;
	height: 30px;
	position: absolute;
	border-style: inset;
	border-width: 3px;
	border-top-left-radius: 6px 6px;
	border-top-right-radius: 6px 6px;
	border-bottom-left-radius: 6px 6px;
	border-bottom-right-radius: 6px 6px;
	background-image: url(../image/火.gif);
	margin: 68px 380px;
	background-color: pink;
}
.kai_1_3_1{
	width: 50px;
	height: 30px;
	position: absolute;
	margin: 82px 388px;
}
.kai_1_4{
	width: 50px;
	height: 30px;
	position: absolute;
	border-style: inset;
	border-width: 3px;
	border-top-left-radius: 6px 6px;
	border-top-right-radius: 6px 6px;
	border-bottom-left-radius: 6px 6px;
	border-bottom-right-radius: 6px 6px;
	background-image: url(../image/56.gif);
	margin: 68px 568px;
	background-color: pink;
}
.kai_1_4_1{
	width: 50px;
	height: 30px;
	position: absolute;
	margin: 82px 576px;
}
.kai_1_5{
	width: 50px;
	height: 30px;
	position: absolute;
	border-style: inset;
	border-width: 3px;
	border-top-left-radius: 6px 6px;
	border-top-right-radius: 6px 6px;
	border-bottom-left-radius: 6px 6px;
	border-bottom-right-radius: 6px 6px;
	background-image: url(../image/57.gif);
	margin: 68px 900px;
	background-color: pink;
}
.kai_1_5_1{
	width: 50px;
	height: 30px;
	position: absolute;
	margin: 82px 908px;
}
.kai_1_6{
	width: 50px;
	height: 30px;
	position: absolute;
	border-style: inset;
	border-width: 3px;
	border-top-left-radius: 6px 6px;
	border-top-right-radius: 6px 6px;
	border-bottom-left-radius: 6px 6px;
	border-bottom-right-radius: 6px 6px;
	background-image: url(../image/水.gif);
	margin: 68px 1080px;
	background-color: pink;
}
.kai_1_6_1{
	width: 50px;
	height: 30px;
	position: absolute;
	margin: 82px 1088px;
}
.kai_1_7{
	width: 50px;
	height: 30px;
	position: absolute;
	border-style: inset;
	border-width: 3px;
	border-top-left-radius: 6px 6px;
	border-top-right-radius: 6px 6px;
	border-bottom-left-radius: 6px 6px;
	border-bottom-right-radius: 6px 6px;
	background-image: url(../image/shui.gif);
	margin: 68px 1260px;
	background-color: pink;
}
.kai_1_7_1{
	width: 50px;
	height: 30px;
	position: absolute;
	margin: 82px 1268px;
}

.kai_2{
	width: 1300px;
	height: 900px;
	float: right;
	position: absolute;
	margin: 0px 200px;
	background-color: red;

}
.kai_2_1{
	width: 120px;
	height:400px;
	position: fixed;
	top:190px;
	left:50px;
	border-top-left-radius: 50px 50px;
	border-top-right-radius: 50px 50px;
	border-bottom-left-radius: 50px 50px;
	border-bottom-right-radius: 50px 50px;
	background-image: url(../image/bzx.jpg);
	border-style: inset;
	border-width: 4px;
	margin: 0px 0px;
}
.kai_3{
	width: 1520px;
	height: 422px;
	border-color: #f6e2cf;
	border-width: 2px;
	background-image: url(../image/90.gif);
	margin: 0px 12px;
}
.kai_3_1{
	width: 700px;
	height: 350px;
	background-color: #f6eded;
	margin: 30px 400px;
	border-top-left-radius: 30px 50px;
	border-top-right-radius: 30px 50px;
	border-bottom-left-radius: 30px 50px;
	border-bottom-right-radius: 30px 50px;
	border-style: solid;
	border-color: #383434;
	border-width: 3px;
	position: absolute;
	opacity: 0.7;

}
.kai_3_2{
	line-height: 7px;
	position: center;
	margin: 20px 80px;
}